/* get tailwind css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.albert {
  border-radius: 100px;
}

body {
  background-color: theme('colors.darker-bg');
}

.App {
  background-color: theme('colors.light-bg');
  color: theme('colors.dark-hl');
}

.App-dark {
  background-color: theme('colors.dark-bg');
  background-image: linear-gradient(theme('colors.dark-bg'), theme('colors.darker-bg'));
  color: theme('colors.light-hl');
}

.centered {
  align-items: center;
  text-align: center;
}

.App-long-page {
  min-height: 200vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

@layer components {
  .card {
    transition: all 0.5s;
    max-width: 750px;
    border-radius: theme('borderRadius.lg');
    border-width: 2px;
    cursor: pointer;
    text-align: left;
    padding: theme('spacing.6');
    box-shadow: theme('boxShadow.2xl');
    margin: 15px;
  }

  .card:hover {
    background-color: theme('colors.light-hl');
    border-color: theme('colors.light-hl');
    color: theme('colors.light-acc');
  }

  .card-dark {
    transition: all 0.5s;
    max-width: 750px;
    border-radius: theme('borderRadius.lg');
    border-width: 2px;
    cursor: pointer;
    text-align: left;
    padding: theme('spacing.6');
    box-shadow: theme('boxShadow.2xl');
    margin: 15px;
    background-color: theme('colors.dark-bg');
    border-color: theme('colors.light-hl');
    color: theme('colors.light-hl');
  }

  .card-dark:hover {
    background-color: theme('colors.dark-hl');
    border-color: theme('colors.dark-acc');
    color: theme('colors.dark-acc');
  }
  /* ... */
}
